:root{
    --color-primary:#7A1D28;
    --color-primary-dark:#260000;
    --color-text: #fdcadb;
    --color-card-bg:#260000;
}
/*====General===*/
html {
    scroll-behavior: smooth;
}

body {
     background-color: #242529;
    color: #171a29;
    font-family: "DM Sans", sans-serif;
}

/*==== MAIN SITE CONTAINER ====*/
.site-container {
    margin: 4px auto 0;
    background-color: var(--color-primary);
    overflow: hidden;
}

/* =========================
   HEADER
========================= */
header {
    height: 89px;
    background-color:rgba(255, 204, 201, 0.55);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 28px 0 20px;

    border-bottom: 1px solid  rgba(255, 255, 255, 0.25);
}


/* Logo */

.logo {
    font-family: "bebas neue", serif;
    font-size: 40px;
    color: var(--color-primary-dark);
}


/* Navigation */

nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

nav a {
    text-decoration: none;
    color: var(--color-card-bg);
    font-family: instrument serif;
    font-size: 25px;
    word-spacing: 20px; 
}

/* =========================
   HERO
========================= */

.hero {
    min-height: 650px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;

    padding: 84px 40px 82px 20px;

    background-color: var(--color-primary);
}


/* =========================
   HERO TEXT
========================= */

.hero-content {
    padding-right: 40px;
    padding-left: 80px;
}

.hero-content h1 {
    font-family: "Bebas Neue", serif;
    font-size: clamp(55px, 5vw, 78px);
    font-weight: 400;
    font-style: normal;
    line-height: 1.05;
    letter-spacing: -2px;
    margin-bottom: 27px;
    color: #ddc8c4;
}


.hero-content p {
    max-width: 510px;

    font-family: "Instrument Serif", serif;

    font-size: 25px;
    font-style: serif;

    line-height: 1.25;

    color: var(--color-text);

    margin-bottom: 44px;
}


/* =========================
   WORK WITH ME BUTTON
========================= */

.work-btn {
    width:15rem;
    height: 2.5rem;
    background-color: var(--color-card-bg);

    border: 1px solid #555864;

    border-radius: 8px;

    color: var(--color-text);

    text-decoration: none;
    font-family: instrument serif;
    font-size: 25px;
    font-weight: 500;

    transition: all 0.3s ease;
}

.work-btn:hover {
    transform: translateY(-2px);
    background-color: var(--color-text);
    cursor: pointer;
    color:var(--color-primary-dark)
}


/* =========================
   HERO IMAGE
========================= */

.hero-image {
    width: 100%;
    height: 700px;

    justify-self: center;

    overflow: hidden;

    border-radius: 50px;
}


.hero-image img {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: cover;
    object-position: center top;
}


/* =========================
   MOBILE
========================= */

@media (max-width: 800px) {

    .site-container {
        width: calc(100% - 6px);
        margin-top: 3px;

        border-radius: 22px 22px 0 0;
    }

    header {
        height: 75px;

        padding: 0 18px;
    }

    nav {
        gap: 15px;
    }

    nav a:first-child {
        display: none;
    }

    .consultation-btn {
        padding: 11px 16px;
        font-size: 12px;
    }


    .hero {
        grid-template-columns: 1fr;

        padding: 65px 25px;

        gap: 60px;
    }


    .hero-content {
        padding-right: 0;
    }


    .hero-content h1 {
        font-size: 52px;
    }


    .hero-content p {
        font-size: 21px;
    }


    .work-btn {
        width: 100%;
        max-width: 323px;
    }


    .hero-image {
        width: 100%;
        max-width: none;
        height: 420px;

        justify-self: center;

        border-radius: 100px;
    }
}

body {
    background:var(--color-primary, #260000);
    margin: auto;
}
h1 {
    color: var(--color-text);
    font-size: 100px;
    font-family: Helvetica;
}
h2{
  color: var(--color-text);
  font-size:50px;
  font-family: helvetica;
h1,h2,h3 {
  font-family: Helvetica;  
}
h3{
    color:var(--color-text);
}
.card {
    border: 1px solid #4c2719;
}
}
.box {
    
    max-width:1000px ;
    background-color: #db5375;
    padding: 20px;
    border: solid 5px purple;
    margin: 40px;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ddc8c4;
    width: 1080px ;
    
   
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.2s ease;
    
}

/* img:hover {
    transform:scale(1.2);
} */

a:hover {
    color: #E0115F;
    transition: all 0.2s ease;
    text-decoration: underline;
}
a{
   text-decoration: none; 
   font-family: helvetica ;
   font-size: 20px;
   color: var(--color-text);
  
}

ul {
  display: flex;
  gap: 1rem;
}

li {
  padding: .5rem;
  
}
.contact-btn {
 width:10rem;
    height: 2.5rem;
    background-color: var(--color-card-bg);
    border-radius: 8px;
    text-align: center;
    padding-top: 5px;
    color: var(--color-text);

    text-decoration: none;
    font-family: instrument serif;
    font-size: 25px;
    font-weight: 500;

    transition: all 0.3s ease;
}
