:root{
    --color-primary:#7A1D28;
    --color-primary-dark:#260000;
    --color-text: #fdcadb;
    --color-card-bg:#260000;
}
/*====General===*/
html {
    scroll-behavior: smooth;
}

body {
     background-color: #242529;
    color: #171a29;
    font-family: "DM Sans", sans-serif;
}

/*==== MAIN SITE CONTAINER ====*/
.site-container {
    margin: 4px auto 0;
    background-color: var(--color-primary);
    overflow: hidden;
}

/* =========================
   HEADER
========================= */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 89px;
    background-color:rgba(255, 204, 201, 0.55);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    padding: 0 3vw;

    border-bottom: 1px solid  rgba(255, 255, 255, 0.25);
}


/* Logo */

.logo {
    font-family: "bebas neue", sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: var(--color-primary-dark);
}


/* Navigation */

nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

nav a {
    text-decoration: none;
    color: var(--color-card-bg);
    font-family: instrument serif;
    font-size: 25px;
    word-spacing: 20px; 
}

/* =========================
   HERO
========================= */

.hero {
    min-height: 650px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;

    padding: 84px 40px 82px 20px;

    background-color: var(--color-primary);
}


/* =========================
   HERO TEXT
========================= */

.hero-content {
    padding-right: 40px;
    padding-left: 80px;
}

.hero-content h1 {
    font-family: "Bebas Neue", serif;
    font-size: clamp(55px, 5vw, 78px);
    font-weight: 400;
    font-style: normal;
    line-height: 1.05;
    letter-spacing: -2px;
    margin-bottom: 27px;
    color: #ddc8c4;
}


.hero-content p {
    max-width: 510px;

    font-family: "Instrument Serif", serif;

    font-size: 25px;
    font-style: serif;

    line-height: 1.25;

    color: var(--color-text);

    margin-bottom: 44px;
}


/* =========================
   WORK WITH ME BUTTON
========================= */

.work-btn {
    width:15rem;
    height: 2.5rem;
    background-color: var(--color-card-bg);

    border: 1px solid #555864;

    border-radius: 8px;

    color: var(--color-text);

    text-decoration: none;
    font-family: instrument serif;
    font-size: 25px;
    font-weight: 500;

    transition: all 0.3s ease;
}

.work-btn:hover {
    transform: translateY(-2px);
    background-color: var(--color-text);
    cursor: pointer;
    color:var(--color-primary-dark)
}


/* =========================
   HERO IMAGE
========================= */

.hero-image {
    width: 100%;
    height: 700px;

    justify-self: center;

    overflow: hidden;

    border-radius: 50px;
}


.hero-image img {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: cover;
    object-position: center top;
}


/* =========================
   MOBILE
========================= */

@media (max-width: 800px) {

    .site-container {
        width: calc(100% - 6px);
        margin-top: 3px;

        border-radius: 22px 22px 0 0;
    }

    header {
        height: 75px;

        padding: 0 18px;
    }

    nav {
        gap: 15px;
    }

    nav a:first-child {
        display: none;
    }

    .consultation-btn {
        padding: 11px 16px;
        font-size: 12px;
    }


    .hero {
        grid-template-columns: 1fr;

        padding: 65px 25px;

        gap: 60px;
    }


    .hero-content {
        padding-right: 0;
    }


    .hero-content h1 {
        font-size: 52px;
    }


    .hero-content p {
        font-size: 21px;
    }


    .work-btn {
        width: 100%;
        max-width: 323px;
    }


    .hero-image {
        width: 100%;
        max-width: none;
        height: 420px;

        justify-self: center;

        border-radius: 100px;
    }
}

body {
    background:var(--color-primary, #260000);
    margin: auto;
}
h1 {
    color: var(--color-text);
    font-size: 100px;
    font-family: Helvetica;
}
h2{
  color: var(--color-text);
  font-size:50px;
  font-family: helvetica;
h1,h2,h3 {
  font-family: Helvetica;  
}
h3{
    color:var(--color-text);
}
.card {
    border: 10px solid #4c2719;
    justify-content: space-between;
    padding-right: 10px;
}
}
.box {
    
    max-width:1000px ;
    background-color: #db5375;
    padding: 20px;
    border: solid 5px purple;
    margin: 40px;
}
/* PROJECTS GRID */
*{
    box-sizing: border-box;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    background-color: #ddc8c4;
    width: 100vw ;
    padding: 40px;
    column-gap: 20px;
    row-gap: 32px;
}
.card img {
    display: flex;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: transform 0.2s ease;
    border-radius: 50px;
    
}

img:hover {
    transform:scale(1.2);
} */

a:hover {
    color: #E0115F;
    transition: all 0.2s ease;
    text-decoration: underline;
}
a{
   text-decoration: none; 
   font-family: helvetica ;
   font-size: 20px;
   color: var(--color-text);
  
}

ul {
  display: flex;
  gap: 1rem;
}

li {
  padding: .5rem;
  
}
.contact-btn {
 width:10rem;
    height: 2.5rem;
    background-color: var(--color-card-bg);
    border-radius: 8px;
    text-align: center;
    padding-top: 5px;
    color: var(--color-text);

    text-decoration: none;
    font-family: instrument serif;
    font-size: 25px;
    font-weight: 500;

    transition: all 0.3s ease;
}
/* =========================
   PROJECT HERO
========================= */
.projects-hero {
  width: 100%;
}

.projects-hero-image {
    width: 100%;
    height: 100vh;
    min-height: 500px;
    overflow: hidden;
}
.projects-hero-image img {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center center;

  background-size: cover;
  background-position: center;
}
/* Burgundy section underneath */

.projects-intro {
  position: relative;

  min-height: 450px;

  display: flex;
  justify-content: center;

  padding: 140px 30px 80px;

  background: var(--burgundy);
}


/* HUGE PROJECTS TEXT */

.projects-intro h1 {
  position: absolute;

  top: 0;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 100%;
  margin: 0;

  color: var(--color-text);

  text-align: center;
  white-space: nowrap;

  font-family: "Bebas neue", sans-serif;
  font-size: clamp(5rem, 15vw, 14rem);
  font-weight: 900;

  line-height: 0.8;
  letter-spacing: -0.05em;
}


/* Intro paragraph */

.intro-copy {
  text-align: center;
}

.intro-copy p {
  font-family: "Instrument Serif",sans-serif;

  font-size: clamp(1.1rem, 2vw, 1.8rem);
  font-weight: 800;
  color: var(--color-text);
  line-height: 1.1;
  text-transform: uppercase;
}

.intro-copy em {
  font-family: instrument serif, serif;
  font-style: italic;
  font-size: 1.25em;
  font-weight: 400;
  text-transform: none;
}
/* =========================
   ABOUT HERO
========================= */
.about-hero {
  width: 100%;
}

.about-hero-image {
    width: 100%;
    height: 100vh;
    min-height: 500px;
    overflow: hidden;
}
.about-hero-image img {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: top;

  background-size: cover;
  background-position: center;
}
/* Burgundy section underneath */

.about-intro {
  position: relative;

  min-height: 450px;

  display: flex;
  justify-content: center;

  padding: 140px 30px 80px;

  background: var(--burgundy);
}


/* HUGE ABOUT TEXT */

.about-intro h1 {
  position: absolute;

  top: 0;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 100%;
  margin: 0;

  color: var(--color-text);

  text-align: center;
  white-space: nowrap;

  font-family: "Bebas neue", sans-serif;
  font-size: clamp(5rem, 15vw, 14rem);
  font-weight: 900;

  line-height: 0.8;
  letter-spacing: -0.05em;
}


/* About paragraph */

.about-copy {
  text-align: justify;
  padding: 150px;
}

.about-copy p {
  font: bebas neue;

  font-size: clamp(1.1rem, 2vw, 1.8rem);
  font-weight: 400;
  color: var(--color-text);
  line-height: 1.1;
  text-align: justify;
}

/* =========================
   CONTACT HERO
========================= */
.contact-hero {
  width: 100%;
}

.contact-hero-image {
    width: 100%;
    height: 100vh;
    min-height: 500px;
    overflow: hidden;
}
.contact-hero-image img {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: top;

  background-size: cover;
  background-position: center;
}
/* Burgundy section underneath */

.contact-intro {
  position: relative;

  min-height: 450px;

  display: flex;
  justify-content: center;

  padding: 140px 30px 80px;

  background: var(--burgundy);
}


/* HUGE ABOUT TEXT */

.contact-intro h1 {
  position: absolute;

  top: 0;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 100%;
  margin: 0;

  color: var(--color-text);

  text-align: center;
  white-space: nowrap;

  font-family: "Bebas neue", sans-serif;
  font-size: clamp(5rem, 15vw, 14rem);
  font-weight: 900;

  line-height: 0.8;
  letter-spacing: -0.05em;
}


/* Contact paragraph */

.contact-copy {
  text-align: justify;
  padding: 150px;
}

.contact-copy p {
  font: bebas neue;

  font-size: clamp(1.1rem, 2vw, 1.8rem);
  font-weight: 400;
  color: var(--color-text);
  line-height: 1.1;
  text-align: justify;
}
/* =========================
   CONTACT FORM
========================= */
.contact-form {
    width: 100%;
    margin:80px auto 0;
    display: flex
    flex-direction: column;
    align-items: center;
    gap:55px
    padding-right: 50px
}
.label {
    font: "bebas neue" sans-serif;

}
/* -----------------
   LABELS
------------------ */

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group label,
.name-section h3 {
  margin: 0;

  color: #fff;
  font-family: Arial, sans-serif;

  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.form-group label span {
  margin-left: 8px;

  color: #d7a9ba;
  font-family: Georgia, serif;

  font-size: 0.9em;
  font-weight: 400;
  text-transform: lowercase;

  letter-spacing: 1px;
}


/* -----------------
   FIRST + LAST NAME
------------------ */

.name-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
}


/* -----------------
   INPUTS
------------------ */

.contact-form input,
.contact-form textarea {
  width: 100%;

  padding: 20px 28px;

  color: #fff;
  background: transparent;

  border: 2px solid #fff;
  border-radius: 50px;

  font-family: inherit;
  font-size: 1.1rem;

  outline: none;

  transition:
    border-color 0.2s ease,
    background-color 0.2s ease;
}


/* input height */

.contact-form input {
  height: 75px;
  padding: 0 30px;
}


/* textarea */

.contact-form textarea {
  min-height: 220px;

  border-radius: 45px;

  resize: vertical;
}


/* -----------------
   FOCUS
------------------ */

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #ffbad3;
  background: rgba(255, 255, 255, 0.04);
}


/* -----------------
   BUTTON
------------------ */

.contact-form button {
  align-self: flex-start;

  min-width: 210px;
  margin-top: 25px;
  padding: 28px 45px;
  

  border: 0;
  border-radius: 999px;

  background: #ffbad3;
  color: #350814;

  font-size: 1.2rem;
  font-weight: 500;

  cursor: pointer;

  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.contact-form button:hover {
  transform: translateY(-3px);
  background: #ffd0df;
}

